@import '../../vars/global.css';

.board {
	height: calc(100vh - 200px - 75px);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}
.tileContainer {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-gap: 5px;
	max-width: 350px;
	margin: 0 auto;
}
.tile {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
	color: white;
	border: 2px solid var(--light-grey);
}
.tile::before {
	content: '';
	display: inline-block;
	padding-bottom: 100%;
}
[data-status='pending'] {
	border: 2px solid black;
	color: black;
}
[data-status='placed'] {
	background-color: var(--color-placed);
}
[data-status='present'] {
	background-color: var(--color-present);
}
[data-status='absent'] {
	background-color: var(--color-absent);
}
