.keyboard {
	max-width: 800px;
	height: 200px;
	margin: 10px auto;
	display: grid;
	grid-template-columns: repeat(20, 1fr);
}

.keyboard .row1 {
	grid-template-columns: repeat(10, 1fr);
}

.keyboard .row2 {
	grid-template-columns: repeat(9, 1fr);
}

.keyboard .row3 {
	grid-template-columns: 3fr repeat(7, 2fr) 3fr;
}
